services:
  unifi-network-application:
    image: linuxserver/unifi-network-application
    container_name: unifi-network-application-app
    hostname: unifi-network-application
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
      - LANG=${LANGUAGE:-en_US.UTF-8}
      - LANGUAGE=${LANGUAGE:-en_US.UTF-8}
      - MONGO_USER=${MONGO_USER}
      - MONGO_PASS=${MONGO_PASS}
      - MONGO_HOST=${MONGO_HOST:-unifi-db}
      - MONGO_PORT=${MONGO_PORT:-27017}
      - MONGO_DBNAME=${MONGO_DBNAME:-unifi}
      - MONGO_AUTHSOURCE=${MONGO_AUTHSOURCE:-admin}
    volumes:
      - ${UNIFI_CONFIG_FOLDER:-./config}:/config
      - ./init-mongo.sh:/docker-entrypoint-initdb.d/init-mongo.sh:ro
    restart: unless-stopped
    ports:
      - ${WEBUI_PORT:-8443}:8443
      - ${STUN_PORT:-3478}:3478/udp
      - ${ACCESSPOINT_DISCOVERY_PORT:-10001}:10001/udp
      - ${DEVICE_COMMUNICATION_PORT:-8080}:8080
    networks:
      - net
    depends_on:
      - mongodb

  mongodb:
    image: mongo:4.4.18
    container_name: unifi-network-application-db
    hostname: unifi-db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_ROOT_USER:-root}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_ROOT_PASS}
      - MONGO_USER=${MONGO_USER}
      - MONGO_PASS=${MONGO_PASS}
      - MONGO_DBNAME=${MONGO_DBNAME:-unifi-network-application}
      - MONGO_AUTHSOURCE=${MONGO_AUTHSOURCE:-admin}
    volumes:
      - ${UNIFI_DB_DATA_FOLDER:-./dbdata}:/data/db
    restart: unless-stopped
    networks:
      - net

networks:
  net:
    external: false